.example {
  width: 100%;
  background-color: @special-greyed-other;
  @media (min-width: @tablet-width) {
    min-width: 768px;
    background: none;
    border-top: 1px solid @basic-greyed;
    background: linear-gradient(to top, @special-greyed-other 45%, transparent 45%);
  }
  @media (min-width: @desktop-width) {
    border: none;
    min-width: 1440px;
    background: linear-gradient(to top, @basic-grey 75%, transparent 75%);
  }
}
.example__wrapper {
  margin: 0 auto;
  width: 279px;
  @media (min-width: @tablet-width) {
    min-width: 708px;
    margin: 0 auto;
  }
  @media (min-width: @desktop-width) {
    min-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
.example__title {
  font-family: Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
  .reset();
  padding-top: 23px;
  padding-bottom: 33px;
  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    .reset();
    margin-top: 43px;
    margin-bottom: 63px;
  }
  @media (min-width: @desktop-width) {
    margin: 0;
    padding-top: 58px;
    margin-bottom: 146px;
  }
}
.example__text{
  font-family: Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
  .reset();
  padding-bottom: 25px;
  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    .reset();
    width: 700px;
    margin-bottom: 54px;
  }
  @media (min-width: @desktop-width) {
    width: 436px;
    margin-bottom: 69px;
  }
}
.example__list {
  .reset();
  .points();
  display: flex;
  justify-content: space-between;
  padding-bottom: 34px;
  @media (min-width: @tablet-width) {
    justify-content: start;
    gap: 42px;
    width: 367px;
    .reset();
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}
.example__item {
  border: 1.5px solid @special_grey;
  border-radius: 3px;
  width: 122px;
  height: 55px;
  position: relative;
  @media (min-width: @tablet-width) {
    width: 162px;
    height: 77px;
  }
  @media (min-width: @desktop-width) {

  }
}
.example__value {
  font-family: Oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @basic-black;
  .reset();
  margin-top: 14px;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
  @media (min-width: @desktop-width) {

  }
}
.example__label {
  position: absolute;
  font-family: Arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  width: 80px;
  text-align: center;
  color: @special-dark-grey;
  margin: 0;
  margin-left: 20px;
  margin-top: 9px;
  background-color: @special-greyed-other;
  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 114px;
    height: 40px;
    background-color: @basic-white;
    margin-top: 18px;
    margin-left: 23px;
  }
  @media (min-width: @desktop-width) {
    background-color: @basic-grey;
  }
}
.example__label--position {
  @media (min-width: @tablet-width) {
    width: 142px;
    margin-left: 10px;
  }
  @media (min-width: @desktop-width) {

  }
}
.example__textual {
  font-family: Oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-black;
  margin: 0;
  padding-bottom: 42px;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-align: right;
    width: 175px;
    padding: 0;
    padding-top: 11px;
    line-height: 1.3;
  }
  @media (min-width: @desktop-width) {
    width: 327px;
    text-align: left;
  }
}
.example__box {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
  }
  @media (min-width: @desktop-width) {
    display: block;
  }
}
.example__after {
  margin-left: -20px;
  @media (min-width: @tablet-width) {
    display: none;
  }
  @media (min-width: @desktop-width) {

  }
}
.example__before {
  margin-left: 20px;
  @media (min-width: @tablet-width) {
    display: none;
  }
  @media (min-width: @desktop-width) {

  }
}
.example__tablet {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
    width: 708px;
    height: 620px;
  }
  @media (min-width: @desktop-width) {

  }
}
.example__toggle {
  display: flex;
  width: 228px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 28px;
  padding-bottom: 35px;
  @media (min-width: @tablet-width) {
    width: 590px;
    padding-bottom: 64px;
  }
  @media (min-width: @desktop-width) {
    padding-bottom: 67px;
    margin: 0;
    justify-content: right;
    margin-left: 30px;
  }
}
.example__toggle-ruler {
  border: 1px solid @special_grey;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: @basic-white;
  min-width: 84px;
  height: 14px;
  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    width: 428px;
    height: 6px;
    background-color: @special_grey-other;
    border-radius: 6px;
  }
  @media (min-width: @desktop-width) {

  }
}
.example__toggle-line {
  border: 1px solid @basic-green;
  background-color: @basic-green;
  border-radius: 6px;
  width: 33px;
  height: 4px;
  margin: 0 5px;
  transform: translateY(50%);
  @media (min-width: @tablet-width) {
    position: absolute;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: @basic-white;
    border: 1px solid @special_grey;
    margin: 0;
    transform: none;
    top: -17px;
    right: 46%;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.16));
  }
  @media (min-width: @desktop-width) {

  }
}
.example__toggle-circle {
  display: none;
  @media (min-width: @tablet-width) {
    display: block;
    width: 8px;
    height: 8px;
    margin-top: 13px;
    margin-left: 13px;
    border-radius: 50%;
    background-color: @basic-green;
    border: none;
  }
  @media (min-width: @desktop-width) {

  }
}
.slider-button {
  font-family: Oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-black;
  .reset();
  border: none;
  background-color: @special-greyed-other;
  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(@basic-black, 0.24);
  }
  @media (min-width: @desktop-width) {
    background-color: @basic-grey;
  }
}
.example__toggle-after {
  padding-left: 18px;
  @media (min-width: @tablet-width) {
    padding: 0;
  }
  @media (min-width: @desktop-width) {

  }
}
.example__toggle-before {
  padding-right: 12px;
  @media (min-width: @tablet-width) {
    padding: 0;
  }
  @media (min-width: @desktop-width) {

  }
}
